#main {
  display: flex;
  flex-direction: column;

  .capacity {
    display: flex;
    align-items: stretch;
    padding: 8px 24px;
  }

  .capacity {
    justify-content: space-between;
    align-items: center;

    & > * {
      display: flex;
      flex: 1 1 0px;
      align-items: flex-start;
      flex-direction: column;
    }

    .current-capacity,
    .reserve-capacity {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
    }
  }

  .card {
    min-width: 150px;
    padding: 0 6px;
    background-color: var(--social-bg);
    border-radius: 8px;

    p {
      text-align: left;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid var(--social-bg);
    }

    th {
      background-color: var(--social-bg);
    }
  }
}
